#intro {
  background-image: url('../../images/kike-vega-F2qh3yjz6Jk-unsplash.jpg');
  background-size: cover;
}

#one {
  background: black;
}

ul.contact > li {
  height: 4rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

#skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
 
#skip a:focus {
  position:static;
  width:auto;
  height:auto;
}

/* ------------------ carrousel styles ------------------ */
.relative { position: relative; }
.mod--hidden { overflow: hidden; }
.pb1 { padding-bottom: 1em; }

.img-carrousel__container {
  white-space: nowrap;
}
.img-carrousel__control__list {
  display: none;
}

.img-carrousel__button-container {
  position: absolute;
}
.img-carrousel__button__previous {
  top: 50%;
  margin-top: -18px;
  left: 0;
  margin-left: 35px;
  z-index: 100;
}
.img-carrousel__button__next {
  top: 50%;
  margin-top: -18px;
  right: 0;
  margin-right: 35px;
  z-index: 100;
}
.img-carrousel__button__button {
  margin: 0;
  padding: .5em .25em .25em;
  background: rgba(244, 249, 238, .7);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
img[tabindex="-1"]:focus {
  outline: none;
}

/* ------------------ transition fade ------------------ */
.fade .carrousel__content {
    -webkit-animation: fadein 1s;
    animation:         fadein 1s;
    white-space: normal;
}
.fade .carrousel__content[aria-hidden=true] {
    -webkit-animation: fadeout 1s;
    animation:         fadeout 1s;
}
.fade .carrousel__content[aria-hidden=true] {
    display: none;
}

@-webkit-keyframes fadeout {
    0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}
@keyframes fadeout {
    0%   { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    100% { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}

@-webkit-keyframes fadein {
    0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}
@keyframes fadein {
    0%   { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f9ee;
  background: rgba(45, 49, 50, .7);
  z-index: 100;
  padding: .5em;
  margin: 0;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js-carrousel__content img {
  width: 100%;
}
